.map_usa{
  border:1px dotted blue;
  width: 800px;
  height: 375px;
  float:right;
  position: relative
}

.navbar-brand {
  height: 70px;
}
.logo_ku{
  width: 40%;
}
.graph_area{
  width: 20%;
   display: inline !important;
}
