<!-- Controller for angular -->
<div class="" ng-controller="ListSteamingController">

  <form class="form-inline card-2">
    <h1><strong>รายการ หัวข้อเรียลไทม์</strong></h1>
    <br/>
    <label for="searchTopic" class="control-label"><h2 class="">ค้นหา หัวข้อ</h2></label>
    <input id="searchTopic" type="text" class="form-control" placeholder="คำค้นหา" ng-model="searchTopic.topic">
  </form>



  <div class="" ng-repeat="data in list_steaming | filter:searchTopic"><!-- รับข้อมูลจาก controller ตัวแปล $scope.list_steaming มา repeat -->


      <form class="form-inline well center-block">

        <div class="form-group">
          <label for="" class="control-label "><h2 class="">หัวข้อ</h2></label>
          <a href="#!/steaming?topic={{data.topic}}">
            <button type="button" class="btn btn-default btn-lg btn_datetime">{{data.topic}}</button>
          </a>
        </div>
        <br/>
        <div class="form-group">
          <label for=""><h2>สถานะ :</h2></label>
          <label for=""><h2>{{data.status}}</h2></label>
        </div>
        <br/>
        <div class="form-group">
          <label for=""><h2>เริ่มทำการสำรวจ : </h2></label>
          <label for=""><h2>{{dateThai(data.start_process)}}</h2></label>
        </div>
        <br/>
        <div class="form-group">
          <label for=""><h2>สำรวจครั้งล่าสุด : </h2></label>
          <label for=""><h2>{{dateThai(data.last_update)}}</h2></label>
        </div>


      </form>

  </div>


</div>
