<!-- Controller for angular -->
<div class="" ng-controller="SparkController">

    <!-- top_graph -->
    <div class="top_graph"><!-- เป็นส่วนบนที่แสดงโดยรวม -->

      <div class="row card-2"><!-- detail -->
        <div class="">
          <h1><strong>รายละเอียด</strong></h1>
        </div>
        <div class="">
          <div class="col-md-6">
            <div class="form-group">
              <label for=""><h2>หัวข้อ :</h2></label>
              <label for=""><h2>{{topic}}</h2></label>
            </div>
            <div class="form-group">
              <label for=""><h2>สถานะ :</h2></label>
              <label for=""><h2>{{status}}</h2></label>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for=""><h2>เริ่มทำการสำรวจ : </h2></label>
              <label for=""><h2>{{start_process}}</h2></label>
            </div>
            <div class="form-group">
              <label for=""><h2>สำรวจครั้งล่าสุด : </h2></label>
              <label for=""><h2>{{last_update}}</h2></label>
            </div>
          </div>
        </div>

      </div><!-- end detail -->


        <div class="row card-2">
            <div class="col-md-4">

              <div class="Chart_Doughnut"><!-- Dounghnut -->
                <h1><strong>สัดส่วนคำค้นหาทั้งหมด</strong></h1>
                <canvas id="Chart_Doughnut"></canvas>
              </div>

              <div class=""><!-- สรุป % -->
                <table id="Summary_Chart_Doughnut" class="table table-hover scal_table">
                </table>
                <div class="">
                  <h1><strong>สัดส่วนข้อความใน สหรัฐอเมริกา</strong></h1>
                  <div id="Chart_Gauge"></div>
                  <div class=""><!-- สรุป %-->
                    <h2>ปริมาณข้อความทั้งหมด <strong id="total"></strong> ข้อความ<h2>
                    <h2>ปริมาณข้อความจาก สหรัฐอเมริกา <strong id="total_of_usa"></strong> ข้อความ<h2>
                    <h2>ปริมาณข้อความที่ไม่ได้อยู่จาก สหรัฐอเมริกา <strong id="total_out_of_usa"> </strong> ข้อความ<h2>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-8" style="float:right;"><!-- freq Map Usa  -->
              <div class="row">

                <div class="col-md-10">
                  <div class="">
                    <h1 class="text_center"><strong>จำวนวนข้อความในแต่ละรัฐใน สหรัฐอเมริกา</strong></h1>
                    <div id='Datamap_Usa' class='Datamap_Usa'></div>
                  </div>

                </div>
                <div class="col-md-2 graph_scale_div">
                  <img class="graph_scale" src="img/scale_min_max.png" alt="">
                </div>
              </div>

              <div class="row Summary_of_map">
                <div class="Tabel_Summary_Datamap_Usa center-block">
                  <h2>จำนวนข้อความที่มากสุดใน 5 รัฐแรก</h2>
                  <table id="Summary_Datamap_Usa" class="table table-hover scal_table">
                  </table>
                </div>
              </div>
          </div>

        </div>


    </div>
    <!-- end  top_graph -->


    <!-- Main_graph -->
    <!-- Main_graph -->
    <div class="main_graph">

      <!-- all tab+detail graph -->
      <!-- all tab+detail graph -->
      <div class="card-2">

          <!--repeat for tab  -->
          <ul class="nav nav-tabs" role="tablist">
            <li ng-repeat="data in raw_datas" ng-class="{active: $index==0}" >
              <a href=".tab_{{$index}}" role="tab" data-toggle="tab" >{{data.keyword}}</a>
            </li>
          </ul>
          <!--end repeat for tab  -->
          <!-------------------------------------------------------------------->

          <!-- replace_graphh --><!-- กราฟในแต่ละ keyword  -->
          <div id="replace_graph" class="replace_graph tab-content" >
            <!-- graph card ของแต่ละก้อน keyword  -->
            <div class="tab-pane tab_{{$index}} active" ng-repeat="data in raw_datas">
              <div class="node{{$index}}">
                <div class="keyword_{{$index}} hide_show row">


                  <div class="col-md-12">
                    <h1 class="grapg_title"><strong>ปริมาณข้อความ บวก/ลบ ของคำค้นหา {{data.keyword}} แต่ละวันตั่งแต่ {{start_process}} ถึง {{last_update}} </strong></h1>

                    <div class="div_Chart_PosNegArea">
                      <canvas id="Chart{{$index}}_PosNegArea" ng-init="creat_graph(data,$index)"></canvas><!-- กราฟเส้นเทียบ pos neg  -->
                    </div>
                    <div class="col-md-12">

                    </div>
                  </div>


                  <br/>
                  <br/>
                  <div class="col-md-12">

                    <div class="row">
                      <h1 class="grapg_title"><strong>ความถี่ข้อความ บวก/ลบ ของแต่ละรัฐ</strong></h1>

                      <div class="col-md-10"><!-- กราฟ map เที่ยว pos neg -->
                        <div id="Datamap{{$index}}_PosNeg" class="Datamap_PosNeg"></div>
                      </div>
                      <div class="col-md-2 graph_scale_div">
                        <img class="graph_scale" src="img/scale_pos_neg.png" alt="">
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-6">
                        <h1>สัดส่วนที่มีความรู้สึกเชิงบวกมากสุด</h1>
                        <table id="Summary_Datamap_PosNeg_pos{{$index}}" class="table table-hover scal_table">
                        </table>
                      </div>
                      <div class="col-md-6">
                        <h1>สัดส่วนที่มีีความรู้สึกเชิงลบมากสุด</h1>
                        <table id="Summary_Datamap_PosNeg_neg{{$index}}" class="table table-hover scal_table">
                        </table>
                      </div>
                    </div>

                  </div>

                  <div class="col-md-12">
                    <h1 class="grapg_title"><strong>คำที่กล่าวถึงมากที่สุด</strong></h1>
                    <div class="col-md-12"><!-- world cloud   -->
                      <br>
                      <div class="center-block" align="center">
                        <div id="Chart{{$index}}_WordCloud" class="Word_Cloud"></div>
                      </div>
                      <div class=""  align="center">
                        <div class="Summary_Chart_WordCloud">
                          <table id="Summary_Chart_WordCloud{{$index}}" class="table table-hover scal_table">
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end graph card ของแต่ละก้อน keyword  -->
          </div>
          <!-- end replace_graphh -->


      </div>
      <!-- end all tab+detail graph -->
      <!-- end all tab+detail graph -->





    </div>
    <!-- end Main_graph -->
    <!-- end Main_graph -->


</div>
<!-- end Controller for angular -->
