<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">


  </head>
  <body ng-app="Anic">
    <!--Nav bar-->
    <div class="">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Anic</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- end nav bar -->

    <!-- midle -->
    <div class="" ng-controller="MainController">
      {{1+7}}
      <div id="container1" class="map_usa">

      </div>

    </div>
    <!-- end midle -->




  </body>
  <!-- Js -->
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script src="http://datamaps.github.io/scripts/datamaps.usa.min.js?v=1"></script>
  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/angular/angular.min.js"></script>
  <script src="/js/anicApp.js"></script>
  <script src="/js/anic.js"></script>
</html>
