<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ANIC</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">


  </head>
  <body ng-app="mainAnicApp">

    <div class="body_all">
        <!--Nav bar-->
        <div class="Navbar_top">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                <li><a href="#menu-toggle" id="menu-toggle"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a></li>
              </ul>
              <div class="navbar-header">
                <a class="navbar-brand" href="#"><img src="/img/ku.png" alt="" class="logo_ku"></a>
              </div>
              <ul class="nav navbar-nav navbar-right">
               <!--li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
               <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li-->
             </ul>
            </div>
          </nav>
        </div>
        <!-- end nav bar -->

        <!-- ################################ navbar-slide + Main_middel ####################################### -->
        <!-- navbar-slide -->
        <div id="wrapper" class="toggled">

          <!-- Sidebar -->
          <div id="Sidebar_wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand">
                      <a href="#!/">
                        <h1>ANIC</h1>
                      </a>
                  </li>
                  <li>
                      <a href="#!/">Home</a>
                  </li>
                  <li>
                    <a ui-sref='usavote'>Usa vote</a>
                  </li>
                  <li>
                      <a ui-sref='list_steaming'>List Steaming</a>
                  </li>

              </ul>
          </div>
          <!-- endnavbar-slide -->
          <!-- Main_middel -->
          <div id="Main_middel" class="Main_middel">
            <div class="top_for_nav"></div>

            <div ui-view class="main-view"><!-- ส่วน การปรับเปลี่ยนวิวตาม state -->
              <!--
              DATA // router
            -->
            </div>

          </div>
          <!--end Main_middel -->

        </div>
        <!-- end midle -->
        <!-- ################################ end navbar-slide + Main_middel ####################################### -->




    </div>
    <!-- end body_all -->


  </body>
  <!-- Js -->
  <script src="/js/d3.v3.min.js"></script>
  <script src="/js/topojson.v1.min.js"></script>
  <script src="/js/datamaps.usa.min.js"></script>

  <script src="/js/jquery-3.1.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/Chart.bundle.js"></script>
  <script src="/js/angular/angular.min.js"></script>


  <script src="/modules/core/core.client.module.js"></script><!-- register module ที่จะเข้ามาจัดการ router ตัวแรก  -->
  <script src="/modules/core/config/core.client.routes.js"></script><!-- model กำหนดแต่ละ state ของ routing -->

  <script src="/js/angular/angular-ui-router.min.js"></script><!-- ตัว routung url สำหรับ single page แทน ของ rounting ที่ติดมากับ angular ตัวนี้ดีกว่า // แล้วก็ ทำงานคนละอย่างกับ routing คนละอย่างกับ nodejs   -->

  <script src="/modules/anic-router/anic-router.client.module.js"></script><!-- register module -->
  <script src="/modules/anic-router/config/anic-router.client.routes.js"></script><!-- model กำหนดแต่ละ state ของ routing -->

  <script src="/js/moment-with-locales.js" charset="utf-8"></script><!-- เอาไว้เรียงวันที่ -->
  <script src="/js/d3.layout.cloud.js"></script><!-- ไฟล์ layout ของ wordcloud -->
  <script src="/Appication.js"></script><!-- main anugular  -->
  <script src="/js/ExtractData.js"></script><!-- ไฟล์ แปลงข้อมูล จากข้อมูล ดิบไปเป็นข้อมูลที่กราฟนำไปแสดงได้ -->
  <script src="/js/Showdata.js"></script><!-- ไฟล์ แสดงเป็นกราฟต่างๆ  -->

          <script>
           $("#menu-toggle").click(function(e) {
               e.preventDefault();
               $("#wrapper").toggleClass("toggled");
           });
           </script>
</html>
